*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

div{
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.ec{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.eb{
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
}

.dc{
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
}

.db{
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}